In [77]:
import pickle
import pandas as pd

In [80]:
infile = open("save_files/description_index.obj", "rb")
index_description = pickle.load(infile)
infile.close()
infile = open("save_files/title_index.obj", "rb")
index_title = pickle.load(infile)
infile.close()

In [90]:
df = pd.DataFrame(index_description.items(), columns=['word', 'index_list'])

In [91]:
del df['index_list']

In [97]:
df1 = pd.DataFrame(index_title.items(), columns=['word', 'index_list'])

In [98]:
del df1['index_list']

In [118]:
df2 = pd.concat([df,df1]).drop_duplicates().reset_index(drop=True)

In [124]:
df2.to_pickle("save_files/weighted_ed_df.pkl")

In [126]:
df2['ed'] = df2.apply(lambda x: weighted_edit_distance('test', x['word']), axis=1)

In [127]:
df2.nsmallest(30, 'ed')

       word    ed
236    test  0.00
215    text  0.50
1731   texa  1.25
756    task  1.50
1444  trust  1.50
857    team  1.75
920   thesi  1.75
1816   tour  1.75
396    fast  2.00
630     tax  2.00
844    tree  2.00
1217   term  2.00
1274   best  2.00
1278  taxat  2.00
2794   tech  2.00
165    take  2.25
353    tune  2.25
377    tool  2.25
608     two  2.25
698   their  2.25
929    ture  2.25
1202   trap  2.25
1250   time  2.25
1616    tri  2.25
1770  tenur  2.25
1805   trip  2.25
1987  trait  2.25
292    tabl  2.50
641     get  2.50
680    host  2.50

In [131]:
3.isdigit()

SyntaxError: invalid syntax (<ipython-input-131-ddca03ab6304>, line 1)